# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp

# ==========================================
# Environment / Secrets
# ==========================================

.env
.env.*


# ==========================================
# Large Raw Datasets
# ==========================================

data/raw/
*.csv
*.zip
*.rar


# ==========================================
# Raw Dataset
# ==========================================

ml-25m/

# ==========================================
# Generated Model Artifacts
# ==========================================

artifacts/