# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Python build files
build/
dist/
*.egg-info/

# Local logs
*.log