# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
.venv/
venv/
env/

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Pytest
# ==========================================
.pytest_cache/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log